<h3>Confirmez</h3>
<%= form_with(model: @publication, local: true) do |form| %>
    <%= form.hidden_field :content %>
    <p class="confirm-content">
        My tweet: <br>
        <br> <%= @publication.content %>
    </p>

    <%= form.submit "Envoyer", :class =>'tweet-button' %>
    <%= form.submit "back", name:'back', :class =>'tweet-button' %>
<% end %>